/** Remove default margin */
blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

/** Unstyle headers */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/** Unstyle list */
ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/** Make image block by default */
img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
}

/** Constrain images to their parent */
img,
video {
  max-width: 100%;
  height: auto;
}
